/* Custom App Styles
   ========================================================================== */
html {
  background-color: #E6F1FC;
  height: 90%;
  width: 90%;
  margin: 30px;
}
.container {
  margin: 40px;
}
.video-wrapper {
  float: left;
  /*margin-left: 30px;*/
  border: 5px outset black;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
button {
  border-radius: 5px;
}
fieldset, input, option {
  border-radius: 5px;
  border: 2px inset silver;
}
#add-cuepoint {
  width: 50px;
}
#add-cuepoint-msg {
  width: 285px;
}
#add-cuepoint, #add-cuepoint-msg {
  text-align: center;
}
#cue-msg {
  display: none;
  position: absolute; 
  margin-top: 100px;
  margin-left: 60px; 
  color: #2C3E50; 
  background-color: #F4ECF7;
  font-size: 18px;
  height: 30px;
  width: 200px;
  padding: 10px 0;
  z-index: 7;
}
.single-cue {
  height: 20%;
  width: 90%;
  margin: 23px;
  border: 2px inset silver;
  border-radius: 5px;
  background-color: #FBF8F8;  
}
#msg-align {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
}
#time-align {
  float: right;
  padding-right: 5px;
  padding-top: 25px; 
}
#remove-cuepoint {
  padding-top: 5px;
}
#msg-output {
  height: 285px;
  width: 490px;
  margin: 2px;
  border: 2px inset silver;
  border-radius: 5px;
  float: left;
  overflow: scroll;
}
.right, .msg-wrapper {
  float: left;
  margin: 0 20px 15px 40px;
}