/* Custom App Styles
   ========================================================================== */
html {
  background-color: #FFFFFF;
  height: 90%;
  width: 90%;
  margin: 30px;
}
.container {
  margin: 40px;
}
.video-wrapper {
  float: left;
  border: 5px outset black;
  border-radius: 5px;
}
h1, h2, legend, input, h4 {
  color: #8A2BE2;
}
legend {
  font-weight: bold;
}
button {
  border-radius: 5px;
  color: #483D8B;
  background-color: #FFFFE0;
}
fieldset, input, option {
  border-radius: 5px;
  border: 2px inset #4682B4;
}
.cc {
  margin-top: 6px;
}
#add-cuepoint {
  width: 50px;
}
#add-cuepoint-msg {
  width: 285px;
}
h1, h2, #add-cuepoint, #add-cuepoint-msg, #cue-msg {
  text-align: center;
}
#cue-msg {
  display: none;
  position: absolute; 
  margin: 80px 0 0 20px; 
  color: #FFFFFF;
  background-color: #EBEBF1;
  background-color: rgba(0, 0, 0, .3);
  font-size: large;
  font-family: "Goudy Bookletter 1911", sans-serif;
  height: 48px;
  width: 300px;
  padding: 5px;
  z-index: 100;
}
.single-cue {
  height: 13%;
  width: 95%;
  margin: 10px 2px 5px 10px;
  background-color: #FBF8F8;
  font-size: .9em; 
}
#msg-align {
  float: left;
  margin-left: 2px;
  padding-top: 5px;
}
#time-align {
  float: right;
  padding-right: 5px;
  padding-top: 5px; 
}
.get-video-cues {
  float: right;
}
#remove-cuepoint {
  padding-top: 5px;
}
#msg-output {
  height: 217px;
  width: 490px;
  margin: 2px;
  border: 2px inset #4682B4;
  border-radius: 5px;
  float: left;
  color: #000080;
  overflow: scroll;
}
.methods-right, .msg-wrapper {
  float: left;
  margin: 0 20px 15px 40px;
}