/* Custom App Styles
   ========================================================================== */
html {
  background-color: #E6F1FC;
  height: 90%;
  width: 90%;
  margin: 30px;
}
.container {
  margin: 40px;
}
.video-wrapper {
  float: left;
  border: 5px outset black;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
button {
  border-radius: 5px;
}
fieldset, input, option {
  border-radius: 5px;
  border: 2px inset silver;
}
#add-cuepoint {
  width: 50px;
}
#add-cuepoint-msg {
  width: 285px;
}
#add-cuepoint, #add-cuepoint-msg {
  text-align: center;
}
#cue-msg {
  display: none;
  position: absolute; 
  margin: 80px 0 0 20px; 
  color: #000080; 
  background-color: #EBEBF1;
  background-color: rgba(0, 0, 0, .3);
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  width: 300px;
  padding: 5px 0 0 3px;
  text-align: center;
  z-index: 100;
}
.single-cue {
  height: 20%;
  width: 90%;
  margin: 23px;
  border: 2px inset silver;
  border-radius: 5px;
  background-color: #FBF8F8; 
  font-size: medium; 
}
#msg-align {
  float: left;
  margin-left: 2px;
  padding-top: 5px;
}
#time-align {
  float: right;
  padding-right: 5px;
  padding-top: 20px; 
}
#remove-cuepoint {
  padding-top: 5px;
}
#msg-output {
  height: 285px;
  width: 490px;
  margin: 2px;
  border: 2px inset silver;
  border-radius: 5px;
  float: left;
  color: #000080;
  overflow: scroll;
}
.right, .msg-wrapper {
  float: left;
  margin: 0 20px 15px 40px;
}